/* about:config -> toolkit.smthsmthlegacystylesheets -> enable
   about:profiles -> chrome/userChrome.css
   about:profiles -> restart */


/* ===== SIDEBERY ===== */

/* -- general -- */

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  display: none !important;
}

#sidebar-box {
  max-width: 258px !important;
}

/* -- native tab toggle -- */

#main-window #titlebar {
  overflow: hidden;
  transition: height 0.3s ease-in-out !important;
}

/* default - set initial height */
#main-window #titlebar { height: 4em !important; }
#main-window[uidensity="touch"] #titlebar { height: 3.35em !important; }
#main-window[uidensity="compact"] #titlebar { height: 2.7em !important; }

/* adjusting padding */
/*#main-window[titlepreface*="​"] #appcontent browser { padding-left: 0 !important; } -- not needed unless I set padding elsewhere*/
#main-window:not([titlepreface*="​"]) #appcontent browser { padding-left: 4px !important; }

/* hidden - fix active pinned tabs z-axis */
#main-window[titlepreface*="​"] #tabbrowser-tabs { z-index: 0 !important; }

/* hidden - hide native tabs - preface is zero width space */
#main-window[titlepreface*="​"] #titlebar { height: 0 !important; } 

/* ===== SEARCHBAR ===== */

/* -- changing outline -- */
:root{ --toolbar-field-focus-border-color: transparent !important; }


/* ===== MAIN WINDOW ===== */

/* -- rounded browser window -- */
#appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 12px !important;
  margin-bottom: 4px !important;
  margin-right: 4px !important;
}

.browserContainer {
  background-color: #000400ff !important;
  background-position: right top !important;
}

[titlepreface*="ㅤ"] #appcontent
> #tabbrowser-tabbox
> #tabbrowser-tabpanels
> .deck-selected
> .browserContainer
> .browserStack
> browser {
  margin-left: 16px !important;
}

[inFullscreen] #appcontent
> #tabbrowser-tabbox
> #tabbrowser-tabpanels
> .deck-selected
> .browserContainer
> .browserStack
> browser {
  margin-left: 34px !important;
}

[inFullscreen][titlepreface*="ㅤ"] #appcontent
> #tabbrowser-tabbox
> #tabbrowser-tabpanels
> .deck-selected
> .browserContainer
> .browserStack
> browser {
  margin-left: 74px !important;
}

